<%- include("partials/header"); -%>

    <h1>
        <%=selectedTitle%>
            <!-- Printing Title -->
    </h1>
    <p>
        <%=storedPost%>
            <!-- Printing Paragraph content -->
    </p>

    <%- include("partials/footer"); -%>